<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libs/jquery-context-menu/jquery.contextMenu.css' />
  </head>
  <body>
    <div id="main">
      <textarea id="txt"></textarea>
    </div>
    <script type="text/javascript" src="/libs/jquery/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/libs/caretposition.js"></script>
    <script type="text/javascript" src="/libs/jquery-context-menu/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="/libs/underscore.js"></script>
    <script type="text/javascript" src="/js/models/conversion.js"></script>
    <script type="text/javascript" src="/js/libs/sentence.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        var $main = $('#main');
        var $txt = $('#txt');

        var sentence = new Sentence($txt, '#main');

      });
    </script>
  </body>
</html>
