<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="menu">
    <p>node-jim demo menu</p>
    <ul>
      <li><a href="/demo_keyboard">Japanese Input Method(Keyboard).</a></li>
    </ul>
    <ul>
      <li><a href="/demo_hwr">Handwriting recognition.</a></li>
    </ul>
  </body>
</html>
