<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="main">
      <textarea id="txt"></textarea>
    </div>
    <script type="text/javascript" src="/libs/jquery/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/js/models/conversion.js"></script>
  </body>
</html>
