body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

#menu
  padding: 10px
  
#jim
  padding: 50px
  a
    color: #00B7FF
  #main
  #txt
    margin-left auto
    margin-right auto
    width 100%
    height 400px
    ime-mode disabled
